{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/animalerie.css' %}">
        <link href="//fonts.googleapis.com/css?family=Barlow&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <div class="page-header">
            <h1><a href="/"><strong>Bienvenue à l'animalerie !</strong></a></h1>
        </div>
        <title>Bienvenue à l'animalerie !</title>
    </head>
    <body>
        <div class="animal">
            {% block content %}
            {% endblock %}
            <br>
            {% for animal in animals %}
                <a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a>
            {% endfor %}
        </div>
    </body>
</html>
